{% extends "layouts/base.html" %}

{% block content %}
{{ paging }}
    <br><br>
    <h1>Buscar en MercadoLibre</h1>
    <br><br>
    <form method="POST">
        {% csrf_token %}
        <input class="form-control" type="text" name="search" placeholder="Search..." autocomplete="off" value="{{ last_query }}">
    </form>
    <br><br>


<div class="container mt-4">
    <h2>Resultados</h2>
    <div class="row mt-3">
    {% for item in response %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  src="{{ item.thumbnail }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ item.title }}</p>
                    <h5 class="card-title">{{ item.currency_id }} {{ item.price }}</h5>
                  <a href="{{ item.permalink }}" target="_blank" class="btn btn-primary">Ver publicación</a>
                </div>
              </div>
        </div>
    {% endfor %}
    </div>  
</div>

{% endblock %}